<div class="container text-success text-center">
  <div style="margin: 30px auto">
    <h1><%= @booking.status %></h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12 col-lg-6">
      <div class="text-center"><ul style="list-style-type: none" class="pl-0">
        <li><i class="fas fa-ellipsis-h"></i> <%= @booking.cabin.localisation %></li>
        <li><i class="far fa-money-bill-alt"></i> <%= @booking.start_date %> <%= @booking.end_date %></li>
        <li><i class="fas fa-map-marked-alt"></i> <%= @booking.cabin.localisation %></li>
        <li><i class="fas fa-bed"></i> <%= @booking.number_of_guests %></li>
      </div>
      <button type="button" class="btn btn-danger" style="margin: 20px auto">Annuler</button>
    </div>
  </div>
</div>
