<div class="container mt-5">
  <h1>Les Cabanes</h1>
  <div class="cards">
    <% @cabins.each do |cabin| %>
    <%= link_to cabin_path(cabin), class: "index-link" do %>
    <div class="card-trip">
      <%= cl_image_tag cabin.photos.first.key, height: 300, width: 350, crop: :fill %>
      <div class="card-trip-infos">
        <div class="text-left">
          <h4 id="green-title"><%= cabin.title.capitalize %></h4>
          <h6><%= cabin.localisation %></h6>
          <h6><%= cabin.beds %> x <i class="fas fa-bed"></i></h6>
        </div>
        <div>
          <h6 class="card-trip-pricing"><%= cabin.price_per_night %> € / <i class="fas fa-moon"></i></h6>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
