<div class="container mt-5">
  <%= simple_form_for @cabin do |f| %>
  <%= f.input :title, input_html: { class: 'form-control'} %>
  <%= f.input :description, input_html: { class: 'form-control'} %>
  <%= f.input :localisation, input_html: { class: 'form-control'} %>
  <%= f.input :beds, input_html: { class: 'form-control'} %>
  <%= f.input :price_per_night, input_html: { class: 'form-control'} %>
  <%= f.submit "Submit", class: "btn btn-outline-success show-button" %>
  <% end %>
  <%= button_to "Back", cabins_path, :method => "get", class: "btn btn-outline-success show-button" %>
</div>
