<div class="container">
  <h1><%= @cabin.title %></h1>

  <!-- caroussel de photos -->

  <div class="text-left">
    <ul>
      <li><%= @cabin.description %></li>
      <li><%= @cabin.localisation %></li>
      <li><%= @cabin.price_per_night %></li>
      <li><%= @cabin.beds %></li>
    </ul>
  </div>
</div>
